@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Unbounded&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #009FFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding: 9px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.btn-secondary {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}